* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(250, 248, 245);
  font-family: "Poppins", sans-serif;
}

body::before {
  content: "";
  width: 35%;
  height: 80%;
  background-color: rgb(169, 214, 203);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.woman {
  position: absolute;
  top: 43px;
  left: 450px;
  width: 55%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

header {
  margin-top: 33px;
  margin-bottom: 60px;
}

.header-principal {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 56px;
}

.nav-principal {
  width: 20%;
  height: 27px;
  margin-right: 260px;
}
.nav-principal ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 56px;
}
.nav-principal ul li:last-child a {
  display: flex;
  align-items: center;
  gap: 8px;
}
.nav-principal ul li:last-child a li {
  width: 400;
  size: 18px;
}
.nav-principal a {
  text-decoration: none;
  color: rgb(38, 64, 101);
}
.nav-principal a:hover {
  text-decoration: underline;
}

.header-search ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  align-items: center;
  gap: 32px;
}
.header-search ul li img {
  width: 80%;
}

.header-login ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 32px;
}
.header-login ul li a {
  text-decoration: none;
}
.header-login ul li .btn1 {
  color: rgb(38, 64, 101);
}

.hero {
  width: 500px;
  height: 400px;
  align-items: center;
  margin-bottom: 60px;
}
.hero h1 {
  color: rgb(38, 64, 101);
  font-size: 50px;
  padding-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
.hero p {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
  font-size: 22px;
  size: 24px;
  line-height: 40px;
  width: 500;
  color: rgb(144, 144, 144);
  padding-bottom: 30px;
}

.buttons {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  width: 100%;
}

.btn {
  color: white;
  padding: 10px 20px;
  border: 1px solid;
  background-color: rgb(38, 64, 101);
  border-radius: 32px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.btn:hover {
  background-color: white;
  color: rgb(38, 64, 101);
}

.btn1:hover {
  text-decoration: underline;
}

.buttons img {
  padding: 8px;
  width: 34px;
  height: 34px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 16px;
  margin-left: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.watch {
  margin-left: 10px;
  text-decoration: none;
  color: rgb(38, 64, 101);
  font-family: "Poppins", sans-serif;
}
.watch:hover {
  text-decoration: underline;
}

.info {
  width: 400px;
}

.info ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-around;
  border: 1px solid #eee;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.8);
}

.info ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px;
  width: 50px;
  gap: 8px;
  font-family: "Poppins", sans-serif;
}
.info ul li span {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: rgb(38, 64, 101);
}

.info ul li img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.comentario {
  list-style: none;
  width: 300px;
  height: 300px;
  gap: 72px;
  border-radius: 16px;
  padding: 32px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
}
.comentario img {
  margin-bottom: 10px;
}
.comentario p {
  font-weight: 300;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  width: 100%;
  font-style: italic;
}
.comentario p.nombre-comentario {
  color: rgb(38, 64, 101);
  margin-bottom: 12px;
  font-family: "Poppins", sans-serif;
}

.comentario1 {
  position: absolute;
  top: 250px;
  margin-left: 970px;
}

.comentario2 {
  position: absolute;
  top: 580px;
  margin-left: 850px;
}/*# sourceMappingURL=style.css.map */